body{
  background-color: black;
}
.col{
  width:80px;
  height:80px;
  float: left;
}
.container{
  position: relative;
  width: 400px;
  height:440px;
  align-items: center;
  margin: auto;
  margin-top: 100px;
  border: 1px solid black;
}
.white{
  background-color: #fff;
}
.black{
  background-color: #002;
}
.knight1{
  background-image: url('capture.png');
  background-color: grey;
}
.knight2{
    background-image: url('capture1.png');
    background-color: yellow;

}
.block{
  background-color: lightgrey;
}
.availableposition{
  background-color: rgba(250, 0, 0, 0.5);
}
#player1{
  color:white;
  font-size: 20px;
  letter-spacing: 2px;
}
#player2{
  color:white;
  font-size: 20px;
  letter-spacing: 2px;
}
